<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue.js"></script>
</head>

<body>
    <div id="box">
           <ul>
               <li v-for="(item,index) in list" :key="index">
                   <div>商品: {{item.name}}</div>
                   <div>价格: {{item.price}}</div>
                   <div v-if="item.state===0">状态: 未支付</div>
                   <div v-else-if="item.state===1">状态: 已经支付</div>
                   <div v-else-if="item.state===2">状态: 取消</div>
                   <div v-else="item.state===3">状态: 交易完成</div>
               </li>
           </ul> 
    </div>
    <script>
      var vm =  new Vue({
            el: '#box',
            data: {
                list: [
                    {
                        id: 1,
                        name: '手机',
                        price: 200,
                        state: 0,
                    },
                    {
                        id: 2,
                        name: '烤面筋',
                        price: 300,
                        state: 1,
                    },
                    {
                        id: 3,
                        name: '电视剧',
                        price: 100,
                        state: 2,
                    },
                    {
                        id: 4,
                        name: '固态硬盘',
                        price: 220,
                        state: 3,
                    }
                ]
            },

        })
    </script>
</body>

</html>